html {
    font-size: 16px; 
    @media screen and (min-width: 900px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
  
h1{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    font-family: Cinzel;
    font-size: 3rem;
}
header{
    width: 100%;
}

main {
    width: inherit;
    border: .15rem solid red;
    display: block;
}



nav{
    text-align: center;
}

footer{
    width: 100%;
    border: .15rem solid blue;

}



#main_container{
    display: flex;
    width: 97%;
    justify-content: center;
    border: 3px solid green;
    margin-left: auto;
    margin-right: auto;
}

.header_middle_bar{
    border: .15rem solid rgb(175, 3, 255);
    text-align: center;
     margin-left: auto;
     margin-right: auto;
}

.header_middle_bar img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}

.filter_menu{
    border: .15rem solid #1C6EA4;
    height: 55rem;
    width: 30rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}
.filter_options{
    border: 1px solid rgba(0,0,0,.125);
    margin-top: .75rem;
}


.filter_radio{
    display: flex;
    flex-direction: column;
}

.filter_heading{
    background-color: #fafafa;
    border: 1px solid rgba(0,0,0,.125); 
    padding: .25rem;
}


.merchandise_view{
    font-size: inherit;
    border: .15rem solid rgb(0, 247, 255);
    height: inherit;
    text-align: right;
}

.btn-group{
    display: inline-block;
    margin-right: 4.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.products_container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    border: 1px solid red;
}

.products_view{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.product_card{
    border: 1px solid teal;
    margin-left: 2.5rem;
    margin-top: 2rem;
    text-align: center;
}

.block {
    display: block;
 }

