html {
    font-size: 16px; 
    @media screen and (min-width: 900px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }

h1{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    font-family: Cinzel;
    font-size: 3rem;
}
header{
    width: 100%;
}

main {
    width: inherit;
    border: .15rem solid red;
    display: block;
}

nav{
    text-align: center;
}

footer{
    width: 100%;
    border: .15rem solid blue;

}

.header_middle_bar{
    border: .15rem solid rgb(175, 3, 255);
    text-align: center;
     margin-left: auto;
     margin-right: auto;
}

.header_middle_bar img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.nav-link{
    text-transform: uppercase;
    font-weight: bold;
}



