.top_bar{
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: flex-end;
}

.top_bar_content{
    min-width: 400px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}